---
import Navbar from '../components/navbar.astro';
import Section from '../components/section.astro';
import "../styles/global.css";
import icon from '../assets/ConverterIcon.ico';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href={icon} />
  <title>Image Converter</title>


</head>
<Navbar />
<Section />
</body>
</html>